/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */
/* import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap'); */
@import url('"https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap"');
/* @media screen and (max-width: 600px) { */

body {
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Suez One', serif; */
  margin: auto;
  font-family: "Montserrat", sans-serif;
  /* color:red; */
  /* background-color: #F6F4E6; */
}
ol,
ul {
  padding-inline-start: 0px;
}
.word-wrap {
  word-wrap: break-word;
}
.foot {
  text-decoration: none;
  color: white;
}
.proj-box {
  margin: auto;

  display: block;
  width: 50%;
  text-align: left;
}
.mid-intro {
  text-align: center;
  display: block;
  width: 50%;
  margin: auto;
}
.link {
  text-decoration: none;
  padding: 1rem 1rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: sans-serif;
  color: black;
  font-weight: bold;
  /* margin-top: 5rem; */
}

/* .link-active {
  font-weight: bold;
} */
.link:hover {
  /* text-decoration: underline; */
  color: #5d5d5d;
  /* font-weight:1000; */
}

.align-to-right {
  text-align: right;
}

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 2rem 0.5rem;
}

.primary_link {
  display: block;
  /* width: 4px; */
  text-decoration: none;
  background-color: #f0a500;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  text-align: center;
  display: block;
  margin: 20px auto 20px auto;
  height: 1.8rem;
  width: 14rem;
  /* #f0a500 */
}

.primary_link_proj {
  display: block;
  /* width: 4px; */
  text-decoration: none;
  background-color: #f0a500;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  text-align: center;
  margin-top: 17px;
  /* display: block; */
  /* margin: 20px auto 20px auto; */
  height: 1.8rem;
  width: 14rem;
  /* #f0a500 */
}
.primary_link_proj:hover {
  background-color: #f9c535;
  /* background-color: #FF9642 */
}

.secondary_link {
  text-align: center;
  text-decoration: none;
  /* background-color: blueviolet; */
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: rgb(28, 39, 43);
  border: 2px solid rgb(28, 39, 43);
  display: block;
  margin: 20px auto 20px auto;
  height: 1.8rem;
  width: 14rem;
}
.secondary_link_proj {
  display: block;
  /* width: 4px; */
  text-decoration: none;
  border: 2px solid rgb(28, 39, 43);

  /* background-color: #f0a500; */
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: black;
  text-align: center;
  margin-top: 17px;
  /* display: block; */
  /* margin: 20px auto 20px auto; */
  height: 1.8rem;
  width: 14rem;
  /* #f0a500 */
}
.secondary_link_proj:hover {
  background-color: #222831;
  color: white;
}

hr {
  margin: 1.5rem 0rem;
}

.inline-style {
  display: inline;
}

.navbar {
  background-color: #f0a500;
  height: 7.3rem;
  /* 00416d */
  /* background-color: rgb(28, 39, 43); */
  color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0.2rem;
  /* font-size: 9rem; */
}

.cont-t {
  display: inline;
  text-decoration: none;
  padding-bottom: 1.3em;
}

.inline-style_a {
  font-family: sans-serif;
  display: inline;
  text-decoration: none;
  color: #00416d;
  /* font-size: 15px; */
  font-weight: bold;
}

.hero-img {
  width: 340px;
  display: block;
  margin: auto;
  padding-top: 2rem;
}

.contt {
  float: right;
}
.fSize {
  font-size: 1.2rem;
}

.intro {
  text-align: center;
  padding: 1.5em;

  font-size: 1.5rem;
}

.middle {
  background-color: #e1e5ea;
}

.end-footer {
  display: inline;
  padding-inline: 4rem;
  text-decoration: none;
  color: white;
}

.footer {
  padding: 2.5rem;
  background-color: rgb(28, 39, 43);
  color: white;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.card {
  border-radius: 0.5rem;
}

.brand {
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 30px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 70;
}

.right {
  font-size: 20px;
  font-family: fantasy;
  text-align: right;
}

.proj {
  width: 450px;
  display: block;
  margin: auto;
  padding-top: 3rem;
}

.projects {
  margin-top: 4rem;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 2.5rem;
}

.projects-block {
  display: block;
  margin: auto;
  text-align: left;
  width: 30%;
  display: block;
  /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}

.projects_sc {
  display: block;
  /* width: 4px; */
  text-decoration: none;
  background-color: #f0a500;
  border-radius: 0.5rem;
  /* padding: 0.5rem 1rem; */
  color: white;
  /* text-align: left; */
  /* display: block; */
  /* margin: 20px left 20px auto; */
  height: 1.5rem;
  width: 10rem;
}

.inline-btn {
  list-style: none;
}
.foot:hover {
  color: #f0a500;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 1rem;
}
.head {
  font-size: 1.5em;
}
/* padding: 9px; */
#heroImg {
  position: relative;
  /* color: #fff; */
  /* font-size: 10em; */
  z-index: 1;
  /* padding-top: 15rem; */
}
#myIntro {
  z-index: 2;
}

.subtitle {
  color: #373737;
}

@media (max-width: 700px) {
  .proj-box {
    width: 80%;
  }

  .proj {
    width: 100%;
  }
  .mid-intro {
    width: 80%;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    margin: 0px;
  }
  .brand {
    margin: 1rem;
    margin-bottom: 0;
    padding: 0;
  }

  .end-footer {
    padding: 0.5rem;
    display: block;
  }
}
